doctype html
html
    head
        block topheader
        include ./header.pug
        include ./datatables.pug
        include ./navigation.pug
        script.
            $(document).ready(() => {
                const table = $("#authorTracks").DataTable();
            });
        meta(charset="UTF-8")
        style(type="text/css").
            table#authorTracks {
                width: 100%;
            }

            td > a {
                display: block;
            }

            td.key {
                vertical-align: middle !important;
            }

            #author_wrapper {
                padding: 10px 40px 0 40px !important;
            }
    body
        block navigation
        div(id="author_wrapper")
            table(id="author", class="table table-striped table-bordered")
                tbody
                    for value, key in data
                        - if (key === "Related tracks") {
                            tr
                                td.key
                                    b #{key}
                                td.value
                                    table.rowTable
                                        tbody
                                            thead
                                                tr
                                                    th Track
                                                    th is a/an
                                                    th of
                                        each track in value
                                            tr
                                                td !{track.from}
                                                td #{track.relationship}
                                                td !{track.to}
                        - }
                        - else if (key === "Authors") {
                        tr
                            td.key
                                b #{key}
                            td.value
                                table.rowTable
                                    tbody
                                        thead
                                            tr
                                                th Author
                                                th Role
                                    each author in value
                                        tr
                                            td !{author.name}
                                            td #{author.role}
                        - }
                        - else {
                            tr
                                td.key
                                    b #{key}
                                td.value !{value}
                        - }