doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug
		include ./datatables.pug
			
		meta(charset="UTF-8")
		style(type="text/css").
			td a {
				display: block;
			}

		script.
			$(document).ready(() => {
				$("#channels").DataTable({
					pageLength: 50
				});
			});
	body
		block navigation
		table(id="channels", class="table table-striped table-bordered")
			thead
				th ID
				th Channel
				th Platform
				th Mode
				th Message Count
				th Size
			each row in data
				tr
					td: a(href="/bot/channels/" + row.Link + "/activity") #{row.ID}
					td #{row.Name}
					td #{row.Platform}
					td #{row.Mode}
					td("data-order"=row.LineCountNumber) #{row.LineCount}
					td("data-order"=row.ByteLengthNumber) #{row.ByteLength}