doctype html
html
    head
        block topheader
        include ./header.pug
        meta(charset="UTF-8")

        link(rel="stylesheet" href="/public/css/leppunen-prism.css")
        link(
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.css"
            rel="stylesheet"
            type="text/css"
        )

        include ./navigation.pug
    body
        block navigation

        center
            h4.
                #{header}

        center
                a(href=link) GitHub link

        br

	    - if (params) {
        pre(class="line-numbers language-js")
            code(class="language-js").
                #{params}
	    - }

        pre(class="line-numbers language-js")
            code(class="language-js").
                #{code}

        - if (staticData) {
            pre(class="line-numbers language-js")
                code(class="language-js").
                    #{staticData}
        - }

        - if (dynamicDescription) {
            pre(class="line-numbers language-js")
                code(class="language-js").
                    #{dynamicDescription}
        - }

        script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/normalize-whitespace/prism-normalize-whitespace.min.js")