doctype html
html
    head
        block topheader
        include ./header.pug
        include ./datatables.pug

        script.
            window.addEventListener("DOMContentLoaded", () => {
                const button = document.getElementById("submit-button");
                document.addEventListener("keydown", (evt) => {
                    if (evt.key === "Enter") {
                        button.click();
                    }
                });
            });

        style(type="text/css").
            input, textarea {
                background-color: rgb(24, 26, 27) !important;
                color: rgb(218, 215, 209) !important;
                border-color: rgb(51, 51, 51) !important;
            }

        - if (typeof script !== "undefined") {
            script.
                !{script}
        - }
        - if (typeof extraCSS !== "undefined") {
            style(type="text/css").
                !{extraCSS}
        - }

        meta(charset="UTF-8")
        include ./navigation.pug
    body
        block navigation
        div(class="px-4" id="prepend").
            !{prepend}
        div(class="px-4" id="form-wrapper")
            for value, key in fields
                - if (!value.type) value.type = "string";

                div(class="form-group")
                    label(for=value.name) !{value.name}
                    - if (value.type === "memo") {
                        textarea(
                            class="form-control"
                            id=value.id
                            name=value.name
                            placeholder=value.placeholder
                            rows=(value.rows || 3)
                            disabled=value.disabled || false
                        ).
                            !{value.value}
                    - }
                    - else if (value.type === "select") {
                        select(
                            class="form-control"
                            id=value.id
                            name=value.name
                            disabled=value.disabled || false
                        )
                            each optionDef in value.options
                                - if (optionDef.value === value.value) {
                                    option(
                                        selected
                                        id=optionDef.id
                                        value=optionDef.value
                                    ).
                                        #{optionDef.text}
                                - }
                                - else {
                                    option(
                                        id=optionDef.id
                                        value=optionDef.value
                                    ).
                                        #{optionDef.text}
                                - }
                    - }
                    - else {
                        input(
                            class="form-control"
                            id=value.id
                            name=value.name
                            type=value.type
                            placeholder=value.placeholder
                            value=value.value
                            disabled=value.disabled || false
                        )
                    - }
            button(class="btn btn-primary" id="submit-button" onclick=onSubmit) Submit