doctype html
html
	head
		block topheader
		include ./header.pug
		include ./datatables.pug

		- if (typeof sortColumn === "undefined") {
		-	sortColumn = 0;
		- }
		- if (typeof sortDirection === "undefined") {
		-	sortDirection = "asc";
		- }
		- if (typeof specificFiltering === "undefined") {
		-	specificFiltering = false;
		- }
		script.
			$(document).ready(() => {
				if (#{specificFiltering}) {
					$('thead th').each(function () {
						const title = $(this).text();
						$(this).html('<input class="megadank" type="text" placeholder="Search ' + title + '" />');
					});
				}

				const table = $("#table").DataTable({
					lengthMenu: [10, 25, 50, 100, 250, 500, 1000],
					pageLength: #{pageLength},
					order: [#{sortColumn}, "#{sortDirection}"]
				});

				if (#{specificFiltering}) {
					$('thead th').each(function (i) {
						const title = $(this).text();
							$(this).html('<input type="text" placeholder="Search ' + title + '" />');

							$('input', this).on('keyup change', function () {
								if (table.column(i).search() !== this.value) {
									table.column(i).search(this.value).draw();
								}
							});
						});
				}
			});
		meta(charset="UTF-8")
		style(type="text/css").
			.searchable {
				display: none;
			}

			td a {
				display: block;
			}

			td {
				word-break: break-word;
			}

			#table_wrapper {
				padding: 10px 40px 0 40px !important;
			}

		include ./navigation.pug
	body
		block navigation
		table(id="table", class="table table-striped table-bordered")
			thead
				tr
					each key in head
						th #{key}
			each row in data
				tr
					each key in head
						- if (row[key] && typeof row[key].dataOrder !== "undefined") {
							td(data-order=row[key].dataOrder) !{row[key].value}
						- }
						- else {
							td !{row[key]}
						- }