append topheader
	- if (typeof title !== "undefined") {
		title.
			#{title}
	- }
	- else {
		title Supinic
	- }

	- if (typeof openGraphDefinition !== "undefined")  {
		each item in openGraphDefinition
			meta(
				property = "og:" + item.property
				content = item.content
			)
	- }

	script(src="/static/js/no-accept-links.js" defer)
	link(rel="icon" type="image/png" href="/static/img/HACKERMAN.png")
	meta(name="robots" content="noindex")
	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		crossorigin="anonymous"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	)
	script.
		if (typeof jQuery === 'undefined') {
			document.write('<script src="/static/js/fallback-jquery-3.7.1.min.js"></script>');
		}

	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"
		crossorigin="anonymous"
		integrity="sha512-7rusk8kGPFynZWu26OKbTeI+QPoYchtxsmPeBqkHIEXJxeun4yJ4ISYe7C6sz9wdxeE1Gk3VxsIWgCZTc+vX3g=="
	)
	script.
		if (!window.jQuery || !$.fn.modal) {
			document.write('<script src="/static/js/fallback-bootstrap-4.6.2.min.js"></script>');
		}

	link(
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.2/cyborg/bootstrap.min.css"
		crossorigin="anonymous"
		integrity="sha512-3zJC8pe5BpqhvYwwqRRjI7VwZMjPLFkTptZeubZDdPpMyan/QNRUng/xFsGjlTDluC/+ZVBpv0uo2kBcx6Qhxw=="
		onerror="this.onerror = null; this.href=`/static/css/fallback-bootstrap-cyborg.css`;"
	)
