append topheader
	style(type="text/css").
		table {
			color: white !important;
		}
		body {
			font-size: 0.85rem;
		}
		a.dropdown-item {
			font-size: 0.75rem !important;
		}
		td {
			padding: 0.45rem !important;
		}
		hr.dropdown-divider {
			border-top: 1px solid white;
			margin: 8px 12px;
		}
		div.megadank-shift {
			left: -10px;
		}

append navigation
	nav(class="navbar navbar-expand-sm bg-dark navbar-dark")
		a(class="navbar-brand" href="/") Supinic
		div(class="navbar-nav mr-auto")
			ul(class="navbar-nav")
				each routeData in navitems
					- if (routeData.items) {
						li(class="nav-item dropdown")
							a(class="nav-link dropdown-toggle" "data-toggle"="dropdown" href="#") !{routeData.name}
							div(class="dropdown-menu")
								each itemData in routeData.items
									- if (itemData.separator) {
										hr(class="dropdown-divider")
									- }
									- else {
										a(class="dropdown-item" href=`/${itemData.link}`) !{itemData.name}
									- }
					- }
					- else {
						li(class="nav-item")
							a(class="nav-link" href=`/${routeData.link}`) !{routeData.name}
					- }
		div(class="navbar-nav ml-auto")
			- if (authUser) {
				li(class="nav-item dropdown")
					a(class="nav-link dropdown-toggle" "data-toggle"="dropdown" href="#") Logged in as #{authUser.display}
					div(class="dropdown-menu megadank-shift")
						each itemData in loginItems
							- if (itemData.separator) {
								hr(class="dropdown-divider")
							- }
							- else {
								a(class="dropdown-item" href=`/${itemData.link}`) !{itemData.name}
							- }
			- }
			- else {
				a(class="nav-link" href=`/auth/twitch?returnTo=${currentLocation}`) Twitch login
			- }
